median-iso/src/main/resources/FLEXCUBE/FT_SERVICE/FT-Product-Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="SubSys-BranchRestriction-Types.xsd"/>
    <xs:include schemaLocation="SubSys-CustRestriction-Types.xsd"/>
    <xs:include schemaLocation="SubSys-ProdEventDtls-Types.xsd"/>
    <xs:include schemaLocation="SubSys-ProdMisDetails-Types.xsd"/>
    <xs:include schemaLocation="SubSys-ProductUDF-Types.xsd"/>
    <xs:include schemaLocation="SubSys-RoleToHeadMapping-Types.xsd"/>
    <xs:complexType name="Product-PK-Type">
        <xs:sequence>
            <xs:element minOccurs="0" name="PRDCD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Product-Full-Type">
        <xs:sequence>
            <xs:element name="PRDCD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="PRDDESC">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="105"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="PRDSLG">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="PRDGRP">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="PRDSTRTDT" type="xs:date"/>
            <xs:element minOccurs="0" name="PRDENDDT" type="xs:date"/>
            <xs:element minOccurs="0" name="PRDRMRKS">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="PRDTYP">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="PRDGRPDESC">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="105"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="PRDTYPDESC">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="105"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="GEN103P">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DRBACKVLDYS" type="xs:decimal"/>
            <xs:element minOccurs="0" name="CRBACKVLDAYS" type="xs:decimal"/>
            <xs:element minOccurs="0" name="TRANSFRTYP">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="B"/>
                        <xs:enumeration value="C"/>
                        <xs:enumeration value="O"/>
                        <xs:enumeration value="D"/>
                        <xs:enumeration value=""/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="COVREQD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="REMITMSG">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="SUPRESBVPMTMSG">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="RTTYP">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="SPRDCD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="2"/>
                        <xs:enumeration value="4"/>
                        <xs:enumeration value="8"/>
                        <xs:enumeration value="9"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="RTCD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="B"/>
                        <xs:enumeration value="S"/>
                        <xs:enumeration value="V"/>
                        <xs:enumeration value="D"/>
                        <xs:enumeration value="C"/>
                        <xs:enumeration value="I"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="MSGCD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="B"/>
                        <xs:enumeration value="S"/>
                        <xs:enumeration value="V"/>
                        <xs:enumeration value="D"/>
                        <xs:enumeration value="C"/>
                        <xs:enumeration value="I"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="RTREFRS">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="RTVAROVDLMT" type="xs:decimal"/>
            <xs:element minOccurs="0" name="RTVARMAXLMT" type="xs:decimal"/>
            <xs:element minOccurs="0" name="MCKREQD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="MCKACGL">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="9"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DAOGL">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="9"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="SPLITDRCRLIQD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="FUTRVLD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="CROSSCCY">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="AUTOODOVERRIDE">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="CUTOFFDAYSREQ">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="REKEYOFCCY">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="REKEYOFAMT">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="REKEYOFVLDT">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="SPCIALCLG">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="CLGNETWRK">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="15"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="REKEYOFDRACC">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="REKEYOFCRACC">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DRBACKVAL">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="CRBACKVL">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="REFRALREQD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="VALIDTBENEFCRY">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="ALLOWMSGBFRACCTING">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="ALLOWCHGWHOMCHANGE">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CHGWHOM">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="O"/>
                        <xs:enumeration value="B"/>
                        <xs:enumeration value="U"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="BENIBANMAND">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="MULTCUSTTRNASF">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="RTGSPRD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="PAYMTTYP">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="D"/>
                        <xs:enumeration value="W"/>
                        <xs:enumeration value="O"/>
                        <xs:enumeration value="A"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="FINYCOPYNETWRK">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="15"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="BNKPRIORITY">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="H"/>
                        <xs:enumeration value="U"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="SENDRNOTIFREQD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="REKEYREQ">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="PAYMTBY">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="M"/>
                        <xs:enumeration value="I"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="GENMT102P">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPDRCCY">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPCRCCY">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPCRVALDATE">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPULTIMATEBENF">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPCRAMT">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPDRVALDATE">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPPRDCD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPBOOKDATE">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPDRAMT">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="MAKER">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="12"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="MAKERSTAMP">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="25"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="CHECKER">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="12"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="CHECKERSTAMP">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="25"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="MODNO" type="xs:decimal"/>
            <xs:element minOccurs="0" name="TXNSTAT">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="AUTHSTAT">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Charge-Details">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="COMPNENT">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="10"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="COMPDESC">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="105"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="EVNT">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="4"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="EVNTDESC">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="255"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="RULE">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="10"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="BASISAMNTTYP">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="25"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="BASISAMNTCATG">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="N"/>
                                    <xs:enumeration value="O"/>
                                    <xs:enumeration value="D"/>
                                    <xs:enumeration value="X"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="ACQREQD">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Y"/>
                                    <xs:enumeration value="N"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="SETTLMNTCCY">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="3"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="CHNGDRGAMNDMNT">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Y"/>
                                    <xs:enumeration value="N"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="STPAPPLICTION">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Y"/>
                                    <xs:enumeration value="N"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="ADVCHRG">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Y"/>
                                    <xs:enumeration value="N"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Tax-Scheme">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SCHME">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="6"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="SCHMEDESC">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="255"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Tax-Details">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element minOccurs="0" name="AMNTTAG">
                                    <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                    <xs:maxLength value="25"/>
                                    </xs:restriction>
                                    </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="BASISAMNTAG">
                                    <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                    <xs:maxLength value="25"/>
                                    </xs:restriction>
                                    </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="COMPTATIONEVNT">
                                    <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                    <xs:maxLength value="4"/>
                                    </xs:restriction>
                                    </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="TAXRUL">
                                    <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                    <xs:maxLength value="6"/>
                                    </xs:restriction>
                                    </xs:simpleType>
                                    </xs:element>
                                    <xs:element minOccurs="0" name="TAXTYP">
                                    <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                    <xs:enumeration value="W"/>
                                    <xs:enumeration value="E"/>
                                    <xs:enumeration value=""/>
                                    </xs:restriction>
                                    </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Prod-Cust-Restrictions" type="CustRestriction-Full-Type"/>
            <xs:element minOccurs="0" name="Role-To-Head-Mapping" type="RoleToHeadMapping-Full-Type"/>
            <xs:element minOccurs="0" name="Product-Events" type="ProdEventDtls-Full-Type"/>
            <xs:element minOccurs="0" name="Product-Mis-Details" type="ProdMisDetails-Full-Type"/>
            <xs:element minOccurs="0" name="Branch-Ccy-Restrictions" type="BranchRestriction-Full-Type"/>
            <xs:element minOccurs="0" name="Product-Fields" type="ProductUDF-Full-Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Product-Query-IO-Type">
        <xs:sequence>
            <xs:element name="PRDCD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Product-Create-IO-Type">
        <xs:sequence>
            <xs:element name="PRDCD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="PRDDESC">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="105"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="PRDSLG">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="PRDGRP">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="PRDSTRTDT" type="xs:date"/>
            <xs:element minOccurs="0" name="PRDENDDT" type="xs:date"/>
            <xs:element minOccurs="0" name="PRDRMRKS">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="PRDTYP">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="GEN103P">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DRBACKVLDYS" type="xs:decimal"/>
            <xs:element minOccurs="0" name="CRBACKVLDAYS" type="xs:decimal"/>
            <xs:element minOccurs="0" name="TRANSFRTYP">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="B"/>
                        <xs:enumeration value="C"/>
                        <xs:enumeration value="O"/>
                        <xs:enumeration value="D"/>
                        <xs:enumeration value=""/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="COVREQD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="REMITMSG">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="SUPRESBVPMTMSG">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="RTTYP">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="SPRDCD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="2"/>
                        <xs:enumeration value="4"/>
                        <xs:enumeration value="8"/>
                        <xs:enumeration value="9"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="RTCD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="B"/>
                        <xs:enumeration value="S"/>
                        <xs:enumeration value="V"/>
                        <xs:enumeration value="D"/>
                        <xs:enumeration value="C"/>
                        <xs:enumeration value="I"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="MSGCD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="B"/>
                        <xs:enumeration value="S"/>
                        <xs:enumeration value="V"/>
                        <xs:enumeration value="D"/>
                        <xs:enumeration value="C"/>
                        <xs:enumeration value="I"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="RTREFRS">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="RTVAROVDLMT" type="xs:decimal"/>
            <xs:element minOccurs="0" name="RTVARMAXLMT" type="xs:decimal"/>
            <xs:element minOccurs="0" name="MCKREQD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="MCKACGL">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="9"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DAOGL">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="9"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="SPLITDRCRLIQD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="FUTRVLD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="CROSSCCY">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="AUTOODOVERRIDE">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="CUTOFFDAYSREQ">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="REKEYOFCCY">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="REKEYOFAMT">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="REKEYOFVLDT">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="SPCIALCLG">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="CLGNETWRK">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="15"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="REKEYOFDRACC">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="REKEYOFCRACC">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DRBACKVAL">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="CRBACKVL">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="REFRALREQD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="VALIDTBENEFCRY">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="ALLOWMSGBFRACCTING">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="ALLOWCHGWHOMCHANGE">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CHGWHOM">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="O"/>
                        <xs:enumeration value="B"/>
                        <xs:enumeration value="U"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="BENIBANMAND">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="MULTCUSTTRNASF">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="RTGSPRD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="PAYMTTYP">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="D"/>
                        <xs:enumeration value="W"/>
                        <xs:enumeration value="O"/>
                        <xs:enumeration value="A"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="FINYCOPYNETWRK">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="15"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="BNKPRIORITY">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="H"/>
                        <xs:enumeration value="U"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="SENDRNOTIFREQD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="REKEYREQ">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="PAYMTBY">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="M"/>
                        <xs:enumeration value="I"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="GENMT102P">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPDRCCY">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPCRCCY">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPCRVALDATE">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPULTIMATEBENF">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPCRAMT">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPDRVALDATE">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPPRDCD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPBOOKDATE">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPDRAMT">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Charge-Details">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="COMPNENT">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="10"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="EVNT">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="4"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="RULE">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="10"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="BASISAMNTTYP">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="25"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="BASISAMNTCATG">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="N"/>
                                    <xs:enumeration value="O"/>
                                    <xs:enumeration value="D"/>
                                    <xs:enumeration value="X"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="ACQREQD">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Y"/>
                                    <xs:enumeration value="N"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="SETTLMNTCCY">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="3"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="CHNGDRGAMNDMNT">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Y"/>
                                    <xs:enumeration value="N"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="STPAPPLICTION">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Y"/>
                                    <xs:enumeration value="N"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="ADVCHRG">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Y"/>
                                    <xs:enumeration value="N"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Tax-Scheme">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SCHME">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="6"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Tax-Details">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="BASISAMNTAG">
                                    <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                    <xs:maxLength value="25"/>
                                    </xs:restriction>
                                    </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="COMPTATIONEVNT">
                                    <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                    <xs:maxLength value="4"/>
                                    </xs:restriction>
                                    </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="TAXRUL">
                                    <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                    <xs:maxLength value="6"/>
                                    </xs:restriction>
                                    </xs:simpleType>
                                    </xs:element>
                                    <xs:element minOccurs="0" name="TAXTYP">
                                    <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                    <xs:enumeration value="W"/>
                                    <xs:enumeration value="E"/>
                                    <xs:enumeration value=""/>
                                    </xs:restriction>
                                    </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Product-Events" type="ProdEventDtls-Create-IO-Type"/>
            <xs:element minOccurs="0" name="Role-To-Head-Mapping" type="RoleToHeadMapping-Create-IO-Type"/>
            <xs:element minOccurs="0" name="Prod-Cust-Restrictions" type="CustRestriction-Create-IO-Type"/>
            <xs:element minOccurs="0" name="Branch-Ccy-Restrictions" type="BranchRestriction-Create-IO-Type"/>
            <xs:element minOccurs="0" name="Product-Fields" type="ProductUDF-Create-IO-Type"/>
            <xs:element minOccurs="0" name="Product-Mis-Details" type="ProdMisDetails-Create-IO-Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Product-Modify-IO-Type">
        <xs:sequence>
            <xs:element name="PRDCD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="PRDDESC">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="105"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="PRDSLG">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="PRDGRP">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="PRDSTRTDT" type="xs:date"/>
            <xs:element minOccurs="0" name="PRDENDDT" type="xs:date"/>
            <xs:element minOccurs="0" name="PRDRMRKS">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="GEN103P">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DRBACKVLDYS" type="xs:decimal"/>
            <xs:element minOccurs="0" name="CRBACKVLDAYS" type="xs:decimal"/>
            <xs:element minOccurs="0" name="COVREQD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="REMITMSG">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="SUPRESBVPMTMSG">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="RTTYP">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="SPRDCD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="2"/>
                        <xs:enumeration value="4"/>
                        <xs:enumeration value="8"/>
                        <xs:enumeration value="9"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="RTCD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="B"/>
                        <xs:enumeration value="S"/>
                        <xs:enumeration value="V"/>
                        <xs:enumeration value="D"/>
                        <xs:enumeration value="C"/>
                        <xs:enumeration value="I"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="MSGCD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="B"/>
                        <xs:enumeration value="S"/>
                        <xs:enumeration value="V"/>
                        <xs:enumeration value="D"/>
                        <xs:enumeration value="C"/>
                        <xs:enumeration value="I"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="RTREFRS">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="RTVAROVDLMT" type="xs:decimal"/>
            <xs:element minOccurs="0" name="RTVARMAXLMT" type="xs:decimal"/>
            <xs:element minOccurs="0" name="MCKREQD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DAOGL">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="9"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="MULTCUSTTRNASF">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="PAYMTTYP">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="D"/>
                        <xs:enumeration value="W"/>
                        <xs:enumeration value="O"/>
                        <xs:enumeration value="A"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="BNKPRIORITY">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="H"/>
                        <xs:enumeration value="U"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="GENMT102P">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPDRCCY">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPCRCCY">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPCRVALDATE">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPULTIMATEBENF">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPCRAMT">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPDRVALDATE">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPPRDCD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPBOOKDATE">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="DUPDRAMT">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Y"/>
                        <xs:enumeration value="N"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="MODNO">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:totalDigits value="22"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Charge-Details">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="COMPNENT">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="10"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="EVNT">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="4"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="RULE">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="10"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="BASISAMNTTYP">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="25"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="BASISAMNTCATG">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="N"/>
                                    <xs:enumeration value="O"/>
                                    <xs:enumeration value="D"/>
                                    <xs:enumeration value="X"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="ACQREQD">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Y"/>
                                    <xs:enumeration value="N"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="SETTLMNTCCY">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="3"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="CHNGDRGAMNDMNT">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Y"/>
                                    <xs:enumeration value="N"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="STPAPPLICTION">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Y"/>
                                    <xs:enumeration value="N"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="ADVCHRG">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Y"/>
                                    <xs:enumeration value="N"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Product-Events" type="ProdEventDtls-Modify-IO-Type"/>
            <xs:element minOccurs="0" name="Role-To-Head-Mapping" type="RoleToHeadMapping-Modify-IO-Type"/>
            <xs:element minOccurs="0" name="Prod-Cust-Restrictions" type="CustRestriction-Modify-IO-Type"/>
            <xs:element minOccurs="0" name="Branch-Ccy-Restrictions" type="BranchRestriction-Modify-IO-Type"/>
            <xs:element minOccurs="0" name="Product-Fields" type="ProductUDF-Modify-IO-Type"/>
            <xs:element minOccurs="0" name="Product-Mis-Details" type="ProdMisDetails-Modify-IO-Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Product-Authorize-IO-Type">
        <xs:sequence>
            <xs:element name="PRDCD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Product-Delete-IO-Type">
        <xs:sequence>
            <xs:element name="PRDCD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Product-Close-IO-Type">
        <xs:sequence>
            <xs:element name="PRDCD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="MODNO">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:totalDigits value="22"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Product-Reopen-IO-Type">
        <xs:sequence>
            <xs:element name="PRDCD">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="MODNO">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:totalDigits value="22"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
